*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-left: 120px;
    padding-right: 120px;
}

.menu{
     display: flex;
     list-style: none;
     gap: 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a{
     text-decoration: none;
     color: black;
     font-size: 16px;
     font-weight:600;
     transition: color 0.3s ease;
}

.menu li a:hover{
   color: #bb262a;
}

.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2f8b58; 
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3 ease;
    text-decoration: none;
    display: inline-flex;
    gap: 7px;
}

.btn:hover{
    background: #249a56;
}

#hero{
    background-image:url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align:center;
    height: 674px;
    padding: 70px 120px 135px 120px;
}

#hero .hero-content{
    display: inline-block;
    background-color: white;
    color:#30b868;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    margin-top:70px;
    margin-bottom: 10px;
}
#hero h1{
    font-size: 70px;
    color: #ffffff;
    line-height: 70px;
    padding-bottom: 20px;
}

#hero .txt-color{
    color: #30b868
}

#hero p{
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom:20px;
}

.btn-group {
    align-items: center;
    gap: 1rem;
}

.btn-group img{
    align-items: center;
}

#hero .btn-group .btn1 {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 4px;
    cursor:pointer;
    margin-left: 9px;
}

.play-img{
    height: 15px;
    width: 15px;
    padding-top: 4px;
    padding-right: 4px;
    margin-bottom: 2px;
}

#notes{
    padding-top: 70px;
}

#notes .notes-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.notes-container h2{
    font-size: 48px;
    padding-bottom: 20px;
    color: #001931;
}
.notes-container p{
    color:#627382;
    margin-bottom: 40px;
}
 .notes-box{
    display: flex;
    gap: 25px;
    margin: 0 auto;
    justify-content: center;
}

.notes-card{
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.notes-card .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f95555;
    margin: 0 auto 18px;
    position: relative;
}

.notes-card .icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notes-card h3{
    text-align: center;
    color: #001931;
    font-size: 22px;
    padding-bottom: 18px;
}

.notes-card p{
    color:#627382
}

#solution{
    display: flex;
    align-items: center;
    padding: 120px ;
}

#solution .solution-container{
    
}
