*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt-color{
    color: #30b868;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-left: 120px;
    padding-right: 120px;
}

.menu,
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    gap: 50px;
}

.menu li a{
     text-decoration: none;
     color: black;
     font-size: 16px;
     font-weight:600;
     transition: color 0.3s ease;
}

.menu li a:hover{
   color: #30b868;
}

.btn{
    padding: 14px 15px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2f8b58; 
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    gap: 7px;
}

.btn:hover{
    background: #249a56;
}

#hero{
    background-image:url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align:center;
    height: 674px;
    padding: 70px 120px 135px 120px;
}

#hero .hero-content{
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: #29804d;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 70px 0 10px 0;
}

#hero .hero-content .dot1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    padding-right: 5px;
}

#hero .hero-content img{
    width: 25px;
    height: 25px;
}
#hero h1{
    font-size: 70px;
    color: #ffffff;
    line-height: 70px;
    padding-bottom: 20px;
}



#hero p{
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom:20px;
}

.btn-group {
    align-items: center;
}

#hero .btn-group .btn1 {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 13px 15px;
    border-radius: 4px;
    cursor:pointer;
    margin-left: 9px;
    transition: border color 0.3s ease;
}

#hero .btn-group .btn1:hover{
    border-color:#7e858b;
}

.play-img{
    width: 15px;
    height: 15px;
    margin: -2px 4px 0 0;
}

#notes{
    padding-top: 70px;
}

#notes .notes-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.notes-container h2{
    font-size: 48px;
    padding-bottom: 20px;
    color: #001931;
}
.notes-container p{
    color:#627382;
    margin-bottom: 40px;
}
 .notes-box{
    display: flex;
    gap: 25px;
    margin: 0 auto;
    justify-content: center;
}

.notes-card{
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    width: 370px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.notes-card .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f95555;
    margin: 0 auto 18px;
    position: relative;
}

.notes-card .icon img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notes-card h3{
    text-align: center;
    color: #001931;
    font-size: 22px;
    padding-bottom: 18px;
}

.notes-card p{
    color:#627382
}

#solution{
    display: flex;
    align-items: center;
    padding: 0;
}

#solution .solution-container{
    display: flex;
    width: 100%;
}

#solution .diagram{
    flex: 0 0 auto;
    padding-left: 180px;
    padding-top: 120px;
    padding-bottom: 120px;
}


.label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

#solution h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 20px;
    
}

#solution .observation{
    color: #627382;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
}

#solution ul{
    list-style: none;
    color:#001931;
    font-weight: 550;
}


#solution li img{
    width: 20px;
    height: 20px;
}

.solution-content{
    flex: 1;
    padding: 225px 80px 120px;
}

#think{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 180px;
}

#think .think-container{
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    background-color: #f7f6f2;
    width: 100%;
}

.think-container h2{
    font-size: 40px;
    padding-bottom: 16px;
}
.think-container p{
    color: #627382;
    padding: 18px;
    
}

footer{
    background-color: #001931;
    width: 100%;
    margin-top: 120px;
}

footer .footer-content{
    display: flex;
    flex-direction: column;
    padding: 120px 120px 0;
}

.footer-icn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}


.footer-content .logo1 img{
    height: auto;
    max-width: 150px;
    display: block;
}

.footer-content .social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer-content .social h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: right;
    width: 100%;
}

.social-icons{
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-content .social img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 40px 120px 30px;
    margin-top: 0;
    border-top: 0.5px solid rgb(48, 47, 47);
}

